<template>
  <div>
    <label for="email">{{ label }}</label>
    <input id="email"
      name="email"
      type="text"
      v-on:keyup="handleKeyup($event.target.value)"
      :value="value"
      v-on:input="$emit('input', $event.target.value)"
    >
  </div>
</template>

<script>
import { Bus } from '../bus'

export default {
  name: 'email-field',
  props: ['label', 'value'],

  methods: {
    handleKeyup(input) {
      Bus.publish('changed.email', { detail: { value: input } })
    }
  }

}
</script>
