<template>
  <div class="header navbar">
    <div class="navbar-header column column-20 col-site-title">
      <div class="navbar-title">
        <router-link to="/solicitude" class="float-left site-title">
          <img class="float-left asesoraicon" src="favicon.ico" alt="Icono Asesora">
          &nbsp;{{ labels.name }}
        </router-link>
      </div>
    </div>

    <div id="links" class="navbar-links column column-50">
      <router-link to="/solicitude" class="link">{{ labels.createSolicitude }}</router-link>
      <router-link to="/solicitudes-list" class="link">{{ labels.solicitudesList }}</router-link>
      <router-link to="/subjects-list" class="link">{{ labels.subjectsList }}</router-link>
      <router-link v-if="control.isAdmin" id="catalog-manager-link" to="/catalogs-manager" class="link">Catalogos</router-link>
      <router-link v-if="control.isAdmin" id="users-manager-link" to="/users-manager" class="link">{{ labels.usersManager }}</router-link>
    </div>

    <div class="column column-30">
      <user-info :values="values"></user-info>
    </div>
  </div>

</template>

<script>
import userInfoView from './user-info'
import { Bus } from "../bus";

export default {
  name: 'navbar',
  components: { "user-info": userInfoView }
}
</script>

<style scoped>

.header {
  display: flex;
  width: 100%;
  height: 3em;
}

.navbar-header {
  flex-direction: column;
}

.navbar .navbar-header .navbar-title > * {
  display: inline-flex;
  margin-bottom: 0;
}

.asesoraicon {
  display: inline-flex;
  width: 1.2em;
  height: 1.2em;
  margin-top: 0.2em;

}
</style>
