<template>
  <div>
    <label for="organization">{{ labels.organization }}
      <label v-if="!values.organization"></label>
    </label>
    <basic-select id="organization"
                  :options="organizationsCatalog"
                  :selected-option="values.organization"
                  @select="onSelect"
                  v-model="values.organization"
                  >
    </basic-select>
  </div>
</template>

<script>
  import { BasicSelect } from 'vue-search-select'
  import { Bus } from '../../bus'

  export default {
    name: 'solicitude-another-organization',
    props: ['labels', 'values', 'organizationsCatalog'],
    methods: {
      onSelect (item) {
        this.values.organization = item
        Bus.publish('changed.organization')
      },
      reset () {
        this.item = {}
      },
      selectOption () {
        this.item = this.options[0]
      }
    },

    components: {
      BasicSelect
    }
  }
</script>
<style>
  .ui.selection.dropdown .menu > .item {
    font-size: 1.5rem !important;
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown .menu {
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown:hover {
    border-color: #eee !important;
  }
</style>
