<template>
  <div>
    <label for="solicitude-text">{{ labels.text }}<span>*</span></label>
    <textarea id="solicitude-text"
              :placeholder="labels.registrationInstructions"
              v-on:keyup="onKeyup"
              v-on:focus="onFocus"
              v-model="values.text">
    </textarea>
  </div>
</template>

<script>
import { Bus } from '../../bus'

export default {
  name: 'solicitude-text',

  props: ['labels', 'values'],

  methods: {
    onKeyup(event){
      event.target.classList.remove("error")
      if (event.target.value == "") {
        event.target.classList.add("error")
      }

      Bus.publish('changed.text')
    },

    onFocus(event){
      event.target.classList.remove("error")
    }
  }
}
</script>
