<template>
  <div>
    <label for="company-cp">{{labels.companyCp}}</label>
    <input  id="company-cp"
            name="company-cp"
            type="number"
            maxlength="5"
            v-on:keydown="keydown"
            v-on:keyup="emitSignal"
            v-model="values.companyCp"
            >
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'company-cp',

  props: ['labels', 'values'],

  methods: {
    keydown(event){
      let cmdKeyMac = 91
      if (event.keyCode == cmdKeyMac){
        this.commandKey = true
      }
      if(!event.ctrlKey && this.commandKey != true){
        if (!this.isValidKeyCode(event.keyCode)){
          event.preventDefault()
        }
        if(this.values.companyCp.length > 4 && !this.isArrowKeyCode(event.keyCode)) {
          event.preventDefault()
        }
      }
      if (event.keyCode != cmdKeyMac){
        this.commandKey = false
      }
    },
    isSeparatorKeyCode(keycode){
      let SpaceBar = 32
      let Period = 190
      let otherPeriod = 110
      let Hyphen = 189
      let otherHyphen = 109

      return [SpaceBar, Period, Hyphen, otherPeriod, otherHyphen].includes(keycode)
    },

    isArrowKeyCode(keycode){
      let InitKey = 36
      let FinKey = 35
      let SuprKey = 46
      let LeftArrow = 37
      let ArrowUp = 8
      let RightArrow = 39
      let ArrowDown = 40

      return [InitKey, FinKey, SuprKey, LeftArrow,
              RightArrow, ArrowDown, ArrowUp].includes(keycode)
    },

    isValidKeyCode(keycode){
      let isNumber = keycode >= 48 && keycode <= 57
      let isNumericKey = keycode >= 96 && keycode <= 105
      let isBackSpace = keycode == 8
      let isTab = keycode == 9
      let isSeparator = this.isSeparatorKeyCode(keycode)
      let isArrow = this.isArrowKeyCode(keycode)

      return [isNumber, isNumericKey, isSeparator,
              isTab, isBackSpace, isArrow].includes(true)
    },

    emitSignal(){
      Bus.publish('changed.company.cp')
    }
  }
}
</script>

<style scoped>
  input {
    width: 15rem;
  }
  input::placeholder {
    text-align: right;
    font-size: 2em;
    color: var(--error-color);
    line-height: 1.4em;
  }
  input::-webkit-input-placeholder {
    position: relative;
    top: 12px;
  }
</style>
