<template>
  <div>
    <company-name :values="values"
                  :labels="labels">
    </company-name>
    
    <div id="company-identity-info" v-if="!isValidCompanyName">
      <div class="alert background-danger">
        <em class="fa fa-times-circle"></em>
          {{ labels.noCompanyName }}
      </div>
    </div>
    
    <company-cif 
      :values="values"
      :labels="labels"
      :is-valid-cif="isValidCif">
    </company-cif>

    <div id="company-identity-info" v-show="!isValidCompanyIdentity">
      <div class="alert background-danger">
        <em class="fa fa-times-circle"></em>
         {{ labels.incompleteCompanyIdentity }}
      </div>
    </div>
  </div>
</template>

<script>
import CompanyNameView from './company-name'
import CompanyCifView from './company-cif'
import { Bus } from '../../../bus'

export default {
  name: 'company-identity',

  props: ['labels', 'values', 'isValidCif','isValidCompanyIdentity', 
          'isValidCompanyName', 'isEditionMode'],

  components: {
    "company-name" : CompanyNameView,
    "company-cif" : CompanyCifView,
  }
}
</script>
