<template>
  <div class="button-inline">
    <button  id="save-company"
              type="button"
              name="submit"
              class="submitbutton"
              :disabled="!saveCompany"
              v-on:click="save()">
              {{ labels.editionsubmit }}
  </button>
</div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'company-save-button',

  props: ['labels', 'saveCompany'],

  methods: {
    save(){
      Bus.publish('clicked.save.company')
    }
  }
}
</script>

<style scoped>
</style>
