  <template>
  <div>
    <label for="company-cnae">{{ labels.companyCnae }}
      <label  v-if="!values.companyCnae"
              class="fa fa-warning"
              :title="labels.required"
              :alt="labels.required">
      </label>
    </label>
    <basic-select id="company-cnae"
                  name="company-cnae"
                  :options="newCnaeCatalog"
                  :selected-option="itemCnae"
                  @select="onSelect">
    </basic-select>
  </div>
</template>

<script>
import { BasicSelect } from 'vue-search-select'
import { Bus } from '../../../bus'

export default {
  name: '',

  props: ['companyCnae', 'labels', 'values', 'cnaeCatalog'],

  computed: {
      newCnaeCatalog(){
        return this.parseCatalog(this.cnaeCatalog)
      }
  },

  watch: {
    companyCnae: function(newVal, oldVal) {
      this.itemCnae = this.searchCnaeInCatalog(newVal)
    }
  },

  data(){
    return {
      itemCnae:{},
      separator: ' - '
    }
  },

  methods: {
    onSelect(item) {
      this.values.companyCnae = item.text
      Bus.publish('changed.company.cnae')
    },

    fullCnaeName(cnaeCode){
      return cnaeCode.value + this.separator + cnaeCode.text
    },

    searchCnaeInCatalog(cnaeValue){
      let catalog = this.parseCatalog(this.cnaeCatalog)
      let result = catalog.find((el) => { return el.text == cnaeValue})
      if (result == undefined) {
        result = {values: 0, text: cnaeValue}
      }
      return result
    },

    parseCatalog(catalog){
      return this.cnaeCatalog.map((item) => {
         return {value:item.value,
                 text:this.fullCnaeName(item)}
      })
    }
  },

  components: {
    BasicSelect
  }
}
</script>
