<template>
  <div id='subjects-list'>
    <div class="card-title">
      <h2 v-if="values.subjects.length > 0" >{{ labels.subjectsList }}</h2>
    </div>
    <div>
      <table>
        <thead>
          <tr v-if="values.subjects.length > 0">
            <th>{{ labels.caseNumber }}</th>
            <th>{{ labels.createdAt }}</th>
            <th>{{ labels.closedSubject}}</th>
            <th>{{ labels.project }}</th>
            <th>{{ labels.topics }}</th>
            <th>{{ labels.register }}</th>
            <th>{{ labels.hasAttachments }}</th>
            <th>{{ labels.isJustified }}</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in values.subjects" id="subject">
            <td>
              {{item.numeration}}
              <template v-if="item.shared_destination">
                <i id="shared"
                  :title='labels.shared'
                  class="fa fa-share-alt"></i>
              </template>
            </td>
            <td>{{ item.created | es }}</td>
            <td>{{ item.closed | es_closed }}</td>
            <td>{{ item.project.value }}</td>
            <td>{{ formatedTopics(item.topics) }}</td>
            <td
              :title='infoRegisterLabels()'
              :alt="labels.registerInfoA">
              {{ translateRecord(item) }}<br><b>{{ translateRecordClosed(item) }}</b></br>
            </td>
            <td>
              <template v-if="hasAttachments(item.files)">
                <label  id="clip"
                class="fa fa-paperclip"
                :title="labels.hasAttachments"
                :alt="labels.hasattachments"
                ></label>
              </template>
            </td>
            <td>
              <template v-if="isSubjectJustified(item)">
                <span id="check"
                      class="fa fa-check fa-2"
                      :title="labels.subjectCheck"
                      :alt="labels.subjectCheck">
                </span>
              </template>
              <template v-else>
                <label  class="fa fa-warning"
                        :title="labels.subjectWarning"
                        :alt="labels.subjectWarning"
                ></label>
              </template>
            </td>

            <td>
              <a class="solicitude-edit-button list-button"
                id="edit-subject"
                v-on:click="openEditSubjectModal(item)">
                {{ labels.edit }}
              </a>
            </td>
            <td>
              <subject-button-delete  :labels="labels"
                                      :values="values"
                                      :subjectId="item.id">
              </subject-button-delete>
            </td>
          </tr>
        </tbody>
      </table>
      <subject-edit-modal v-if="showSubjectEditModal"
                          :labels="labels"
                          :values="values"
                          :topics-catalog="topicsCatalog"
                          :proposals-catalog="proposalsCatalog"
                          :is-submittable="isSubmittable"
                          :edition-subject="editionSubject"
                          :isEditionMode="isEditionMode"
                          :reasons-catalog="reasonsCatalog"
                          :warning-subject="warningSubject"
                          :projects-catalog="projectsCatalog"
                          :download-url="downloadUrl"
                          :showShareEmail="showShareEmail"
                          :isValidShareEmail="isValidShareEmail"
                          :showCloseSubjectModal="showCloseSubjectModal"
                          >
      </subject-edit-modal>
    </div>
  </div>
</template>

<script>
  import SubjectEditionView from './subject-edition'
  import SubjectButtonDelete from './subject-button-delete'
  import { Bus } from '../../../bus'
  import isEmpty from '../../../lib/isEmpty'

  import SubjectEditModalView from './subject-edit-modal'

  export default {
    name: 'subject-list-edition',

    filters: {
      es: function (date_en) {
        if (date_en === undefined) { return date_en }
        const date_parts = date_en.split('-')
        return date_parts.reverse().join('/')
      },
      es_closed: function (date_closed_format) {
        if (date_closed_format == null ) { return date_closed_format }
        const date_parts = date_closed_format.split('/')
        return [ date_parts[1], date_parts[0], date_parts[2] ].join('/')
      }
    },

    props: ['labels', 'values', 'topicsCatalog', 'proposalsCatalog',
            'editionSubject', 'modifiedSubjectId', 'isSubmittable',
            'isEditionMode', 'reasonsCatalog', 'warningSubject',
            'projectsCatalog', 'owner', 'downloadUrl', 'showSubjectEditModal',
            'isValidShareEmail', 'showShareEmail', 'showCloseSubjectModal'],

    components: {
      "subject-edition" : SubjectEditionView,
      "subject-button-delete": SubjectButtonDelete,
      "subject-edit-modal": SubjectEditModalView
    },

    methods: {
      isSubjectJustified(item) {
        return (!isEmpty(item.topics)  &&
                !isEmpty(item.proposal))
      },

      hasAttachments(files) {
        return files.length > 0
      },

      openEditSubjectModal(item){
        Bus.publish('clicked.subject.list', { detail: item })
      },

      formatedTopics(topics){
        if (topics.length == 0) return "n/a"
        if (topics.length == 1) return topics[0].name
        if (topics.length > 1) return topics[0].name + " ..."
      },

      translateRecord(item){
        let result = ""
        if (item.analysis != "") result += "A "
        if (item.description != "") result +="D "
        if (item.proposal.length > 0) result +="P"
        return result
      },

      translateRecordClosed(item){
        let result = ""
        if (item.closed != null) result +="C"
        return result
      },

      infoRegisterLabels() {
        return this.labels.registerInfoA + "\n" + this.labels.registerInfoD + "\n" + this.labels.registerInfoP + "\n" + this.labels.registerInfoC
      },

      isFilled(value){
        if (!value){ return false }
        return value.length > 0
      },

      isClosed(item){
        if (item.closed !== null){ return true }
        return false
      },

      isListEmpty(list){
        if (!list){ return true }
        return list.length == 0
      },

      isNotEmpty(project) {
        if (project == null || Object.keys(project).length == 0){
          return false
        }
        return true
      }
    }
  }
</script>
<style>
  #check {
    color: #35cebe;
  }

  #shared {
    color: #35cebe;
  }

  a {
    cursor: pointer;
    font-weight: bold;
  }

  .ui.selection.dropdown .menu > .item {
    font-size: 1.5rem !important;
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown .menu {
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown:hover {
    border-color: #eee !important;
  }
</style>
