<template>
  <div class="button-inline">
    <button type="button"
            class="discardbutton button-clear"
            v-on:click="onclick()">
      {{ labels.discardButtonSubject }}
    </button>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'subject-button-discard',
  props: ['labels'],
  methods: {
    onclick() {
      Bus.publish('clicked.discard.subject.button')
    },
  }
}
</script>

<style scoped>
</style>
