<template>
  <div>
    <label for="subject-proposals">{{ labels.proposals }}
      <label  v-if="!values.proposals.length > 0"
              class="fa fa-warning"
              :title="labels.required"
              :alt="labels.required">
      </label>
      <a target="_blank"
        title="Sugerir cambios a la lista de Propuestas de actuación de este campo"
        href="https://docs.google.com/forms/d/e/1FAIpQLSel1X2z74Gf7SYvOO23GObrxfUeBkcxVT7Z1Wl241rQMfwGsg/viewform">
          {{ labels.suggestChanges }}
      </a>
    </label>
    <multi-select :options="proposalsCatalog"
                  :selected-options="values.proposals"
                  id="subject-proposals"
                  @select="onSelect"
                  v-model="values.proposals">
    </multi-select>
  </div>
</template>

<script>
  import { MultiSelect } from 'vue-search-select'
  import { Bus } from '../../../bus'

  export default {
    name: 'subject-proposals',
    props: ['labels', 'values', 'proposalsCatalog'],

    methods: {
      onSelect (items, lastSelectItem) {
        this.values.proposals = items
        this.changedProposal()
      },
      changedProposal(event) {
        Bus.publish('changed.subject')
      }
    },
    components: {
      MultiSelect
    }
  }
</script>

<style>
  i.icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  i.icon.delete:before {
    content: "\f00d";
  }
  .ui.selection.dropdown .menu > .item {
    font-size: 1.5rem !important;
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown .menu {
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown:hover {
    border-color: #eee !important;
  }
</style>
