<template>
  <div>
    <label>{{labels.reason}}
    <a target="_blank" 
         href="https://docs.google.com/forms/d/e/1FAIpQLSfNommlcrdPxYKS2hBCyrU1qtjMvGaR439L_GY4GyZABaN7Cw/viewform">
         {{ labels.suggestChanges }}
      </a>
    </label>
    <basic-select id="subject-reason"
                  :options="reasonsCatalog"
                  :selected-option="values.reason"
                  @select="onSelect"
                  v-model="values.reason"
                  >
    </basic-select>
  </div>
</template>

<script>
  import { BasicSelect } from 'vue-search-select'
  import { Bus } from '../../../bus'

  export default {
    name: 'subject-reason',
    props: ['labels', 'values', 'reasonsCatalog'],
    methods: {
      onSelect (item) {
        this.values.reason = item
        Bus.publish('changed.reason')
      },
      reset () {
        this.item = {}
      },
      selectOption () {
        this.item = this.options[0]
      }
    },
    components: {
      BasicSelect
    }
  }
</script>
<style>
  .ui.selection.dropdown .menu > .item {
    font-size: 1.5rem !important;
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown .menu {
    border-color: #eee !important;
  }
  .ui.selection.active.dropdown:hover {
    border-color: #eee !important;
  }
</style>
