<template>
  <div class="button-inline">
    <button  id="close-counseling"
            type="button"
            name="submit"
            class="submitbutton"
            :disabled="isFilledToClose()"
            v-on:click="closeCounseling()">
            {{labels.closeCounseling}}
    </button>
</div>
</template>

<script>
import { Bus } from '../../../bus'
import isEmpty from '../../../lib/isEmpty'

export default {
  name: 'subject-button-close',
  props: ['labels', 'values', 'isEditionMode'],
  methods: {
    closeCounseling(event) {
      const detail = {
        subjectId: this.values.subjectId,
        solicitudeId: this.values.id,
        proposals: this.values.proposals,
        description: this.values.description,
        analysis: this.values.analysis,
        topics: this.values.selectedTopics,
        comments: this.values.comments,
        reason: this.values.reason,
        closed: this.values.closed,
        created: this.values.created,
        project: this.values.project,
        numeration: this.values.numeration,
        files: this.values.files
      }

      if(this.isEditionMode){
        Bus.publish('clicked.close.counseling', detail)
      }
      else{
        Bus.publish('clicked.close.unsaved.counseling', { detail })
      }
      this.values.files = []
    },
    isFilledToClose(){
      return (isEmpty(this.values.reason) && isEmpty(this.values.comments))
    }
  }
}
</script>

<style scoped>
</style>
