<template>
  <div id="subject-attach-files">
    <input type="file"
            id="file-input"
            class="custom-file-input"
            @change="attachFiles"
            multiple>
    <ul>
      <li v-for="file in values.files">
        {{ file.name }}
        <a href='#' @click.prevent='deleteAttachment(file.name)'>
          <em class="fa fa-trash red"></em>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import { Bus } from '../../../bus'

export default {
  name: 'subject-attach-files',
  props: ['labels', 'values'],

  data() {
    return {
      files: [],
    }
  },

  methods: {
    attachFiles(event){
      Bus.publish('attached.files', event.srcElement.files)
      Bus.publish('changed.subject')
    },
    deleteAttachment(name){
      this.values.files = this.values.files.filter(file => file.name != name)
    }
  }
}

</script>
<style scoped>
  input#file-input{
    color: transparent;
  }
</style>
